/*
 *	DownloadMyProgram
 *	https://github.com/izzaldin2001/DownloadMyProgram
*/

body {
	background-color: gray;
	color: black;
}

#header {
	padding: 15px;
	float: left;
	background-color: white;
	width: 95%;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
}

#header h1, p {
	display: inline-block;
}

#header #nav {
	float: right;
	font-size: 25px;
}

#header #nav ul li {
	display: inline-block;
}

#header #nav ul li:first-child:after {
	content: " | ";
}

#body {
	padding: 15px;
	float: left;
	background-color: white;
	width: 95%;
	margin-top: 10px;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
}

#footer {
	padding: 15px;
	float: left;
	background-color: white;
	width: 95%;
	margin-top: 10px;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
}

#form label, input, textarea {
	display: block;
	margin: 15px;
}

#form input[type="submit"] {
	padding: 5px;
	background-color: white;
	border: 1px solid black;
}

img {
	border:1px solid black;
	border-radius: 5px;
}

a {
	text-decoration: none;
}

.clear {
	clear: both;
}