body {
	background-color: gray;
	color: white;
	text-align: center;
}

#header {
	width: 50%;
	margin: 10px auto;
	padding: 10px;
	border: 1px solid white;
	background-color: black;
}

#header ul {
	list-style: none;
}

#header ul li {
	display: inline-block;
	margin-right: 10px;
	padding: 10px;
	border: 1px solid white;
	border-radius: 10px;
	background-color: gray;
}

#container {
	width: 50%;
	margin: 10px auto;
	padding: 10px;
	border: 1px solid white;
	background-color: black;
}

#footer {
	width: 50%;
	margin: 10px auto;
	padding: 10px;
	border: 1px solid white;
	background-color: black;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input, textarea {
	padding: 5px;
	border-radius: 5px;
}